
<div class="container">
  <h2>Event Generator</h2>

  <div class="service-grid">
    <!-- <mat-card *ngFor="let service of services" class="service-card" text-acenter [ngStyle]="{'background-color': service.color}"> -->
    <mat-card *ngFor="let service of services" class="service-card shadow-sm" [ngStyle]="{'background-color': service.color}">
      <mat-card-header>
        <mat-card-title style="text-align: center; width: 100%;">
              {{service.name | uppercase}}
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div class="buttons">
          <div *ngFor="let event of service.events" class="event-button-container">
            <div class="button-with-info">
              <button mat-raised-button color="primary" class ='fixed-width-button' (click)="openCredentialDialog(service.name, event)">
                {{event}}
              </button>

              <button mat-icon-button (click)="toggleDescription(event)">
                <mat-icon style="font-size:18px; color:grey;">info</mat-icon>
              </button>
            </div>

            <!-- Description card -->
            <div class="description-wrapper">
              <mat-card *ngIf="shownDescription === event" class="description-card">
                <mat-card-content>
                  {{ getDescriptionForEvent(event) }}
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- POPUP OVERLAY OUTSIDE LOOP -->
<div *ngIf="showCredentialPopup" class="popup-overlay">
  <div class="popup">
    <h3>Enter SSH Credentials</h3>

    <button mat-stroked-button
        color="primary"
        [ngClass]="{'selected-ip': selectedIp === '10.0.5.78'}"
        (click)="selectIp('10.0.5.78')">
        10.0.5.78
    </button>
    <button mat-stroked-button
          color="primary"
          [ngClass]="{'selected-ip': selectedIp === '10.0.5.98'}"
          (click)="selectIp('10.0.5.98')">
          10.0.5.98
    </button>
    <div style="margin-bottom: 10px;">
        <label>Username: </label> root
    </div>

  <div style="margin-bottom: 10px;">
     <label>Password: </label> ********
  </div>
    <button mat-raised-button color="primary" (click)="submitCredentials()">Submit</button>
    <button mat-button (click)="showCredentialPopup = false">Cancel</button>
  </div>
</div>
